set cpoptions+=$
set virtualedit=all
set incsearch  
set hlsearch

nnoremap <Left> :echo "No left for you!"<CR>
inoremap <Left> <nop>
nnoremap <Right> :echo "No right for you!"<CR>
inoremap <Right> <nop>
nnoremap <Down> :echo "No down for you!"<CR>
inoremap <Down> <nop>
nnoremap <Up> :echo "No up for you!"<CR>
inoremap <Up> <nop>
